#increase{
    width: 100px;
    height: 25px;
    border: 2px solid blue;
    text-align: center;
    margin-bottom:10px;
}

#div2 {
    width: 100px;
    height: 100px;
    border: 2px solid blue;
    text-align: center;
    font-size: 24px;
    color: black;
}

button {
    margin:10ox;
  }
  
  .counter {
    margin: 10px
  }